In [1]:
import test as t

In [2]:
from load_data_set import Load_data
from scipy.sparse import csr_matrix
import numpy as np
from sklearn.neighbors import NearestNeighbors
class Knn(Load_data):
    def __init__(self,metric,n_neighbors):
        self.urls = None
        self.metric = metric
        self.n_neighbors = n_neighbors
    def set_values(self,urls,dataset):
        self.set_urls(urls)
        self.main_df = self.get_user_preferences_df()
        self.target_df = dataset
    def preprocess(self):
        filterd_main = self.main_df[self.main_df['userID'].isin(self.target_df['userID'].to_list())]
        reco_sample_u = filterd_main.drop_duplicates(['userID', 'bookTitle'])
        self.user_rating_pivot = reco_sample_u.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
        self.user_rating_matrix = csr_matrix(self.user_rating_pivot.values)
    def knn_algo(self):
        model_knn = NearestNeighbors(metric = self.metric, algorithm = 'brute',leaf_size=30,metric_params=None, n_jobs=1, n_neighbors=self.n_neighbors, p=2, radius=1.0)
        model_knn.fit(self.user_rating_matrix)
        self.query_index = np.random.choice(self.user_rating_pivot.shape[0])
        self.distances, self.indices = model_knn.kneighbors(self.user_rating_pivot.iloc[self.query_index, :].values.reshape(1, -1), n_neighbors = self.n_neighbors)
    def print_(self):
        for i in range(0, len(self.distances.flatten())):
            print('{0}: {1}, with distance of {2}:'.format(i+1, self.user_rating_pivot.index[self.indices.flatten()[i]], self.distances.flatten()[i]))
#             if i == 0:
#                 print('Recommendations for {0}:\n'.format(self.user_rating_pivot.index[self.query_index]))
#             else:
#                 print('{0}: {1}, with distance of {2}:'.format(i, self.user_rating_pivot.index[self.indices.flatten()[i]], self.distances.flatten()[i]))

In [3]:
new_t = t.Test()

In [4]:
df = new_t.test_case()

## Test Case Input User Id : Collabarative Recomondation System by Asiri Thenuka Thenabadu : 31048197 ##
User Base Closest Users

In [5]:
df['userID'].to_list()

[236959, 185233, 170513, 11676, 236283, 225087, 235392, 13552, 16795, 43842]

In [6]:
from load_data_set import Load_data
ld = Load_data()
urls = ['Books.csv','Users.csv','Book-Ratings.csv']
ld.set_urls(urls)
main_df = ld.get_user_preferences_df()

In [7]:
k = Knn('cosine',10)

In [8]:
k.set_values(urls,df)

In [9]:
k.preprocess()

In [10]:
k.knn_algo()

In [11]:
k.print_()

0: Sleeping Murder (Miss Marple Mysteries (Paperback)), with distance of 1.0:
1: Sleeping Murder, with distance of 1.0:
2: Sleepwalk, with distance of 1.0:
3: Sleeping at the Starlite Motel: And Other Adventures on the Way Back Home, with distance of 1.0:
4: Sleeping With Her Rival  (Dynasties: The Barones), with distance of 1.0:
5: Sleeping With Beauty, with distance of 1.0:
6: Sleeping Tiger, with distance of 1.0:
7: Slightly Scandalous (Get Connected Romances), with distance of 1.0:
8: Sleeping Beauty: A Novel, with distance of 1.0:
9: Sleeping Beauty and Other Fairy Tales (Dover Children's Thrift Classics), with distance of 1.0:

In [124]:
from load_data_set import Load_data
ld = Load_data()
urls = ['Books.csv','Users.csv','Book-Ratings.csv']
ld.set_urls(urls)
main_df = ld.get_user_preferences_df()

In [125]:
reco_sample = main_df[main_df['userID'].isin([236959, 185233, 170513, 11676, 236283, 225087, 235392, 13552, 16795, 43842])]

In [127]:
reco_sample1 = reco_sample

In [128]:
reco_sample1.reset_index(drop=True, inplace=True)
# d = {}
# for i, j in enumerate(reco_sample['userID'].unique()):
#     d[j] = i
# reco_sample['unique_user_id'] = reco_sample['userID'].map(d)

In [129]:
reco_sample1['userID'].unique()

array([ 11676, 185233,  13552,  43842,  16795, 225087, 235392, 236283,
       236959, 170513], dtype=int64)

In [130]:
d = {}
for i, j in enumerate(reco_sample1['userID'].unique()):
    d[j] = i

In [131]:
reco_sample1

,userID,ISBN,bookRating,bookTitle,bookAuthor
0,11676,0446520802,10,The Notebook,Nicholas Sparks
1,185233,0446520802,7,The Notebook,Nicholas Sparks
2,11676,038550120X,10,A Painted House,JOHN GRISHAM
3,13552,038550120X,0,A Painted House,JOHN GRISHAM
4,43842,038550120X,0,A Painted House,JOHN GRISHAM
...,...,...,...,...,...
21162,236959,158411035X,0,The Christian Girl's Guide to Being Your Best,Katrina Cassel
21163,236959,1888952938,0,"Smokehouse Ham, Spoon Bread, &amp; Scuppernong...",Joseph Earl Dabney
21164,236959,1893103056,7,Abraham Lincoln's World,Genevieve Foster
21165,236959,1931585091,0,Resolving Stress in Your Marriage: How to Iden...,Jimmy Evans
21166,236959,4817090014,9,Origami Omnibus: Paper-Folding for Everybody,Kunihiko Kasahara

In [134]:
pd.options.mode.chained_assignment = None
reco_sample1['unique_user_id'] = reco_sample1['userID'].map(d)

In [135]:
reco_sample1

,userID,ISBN,bookRating,bookTitle,bookAuthor,unique_user_id
0,11676,0446520802,10,The Notebook,Nicholas Sparks,0
1,185233,0446520802,7,The Notebook,Nicholas Sparks,1
2,11676,038550120X,10,A Painted House,JOHN GRISHAM,0
3,13552,038550120X,0,A Painted House,JOHN GRISHAM,2
4,43842,038550120X,0,A Painted House,JOHN GRISHAM,3
...,...,...,...,...,...,...
21162,236959,158411035X,0,The Christian Girl's Guide to Being Your Best,Katrina Cassel,8
21163,236959,1888952938,0,"Smokehouse Ham, Spoon Bread, &amp; Scuppernong...",Joseph Earl Dabney,8
21164,236959,1893103056,7,Abraham Lincoln's World,Genevieve Foster,8
21165,236959,1931585091,0,Resolving Stress in Your Marriage: How to Iden...,Jimmy Evans,8
21166,236959,4817090014,9,Origami Omnibus: Paper-Folding for Everybody,Kunihiko Kasahara,8

In [137]:
users_books_pivot_matrix_df = reco_sample1.pivot(index='unique_user_id',columns='ISBN',values='bookRating').fillna(0)

In [139]:
users_books_pivot_matrix_df = users_books_pivot_matrix_df.values
print(min(users_books_pivot_matrix_df.shape))

10

In [142]:
import pandas as pd
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import KNNWithMeans
from surprise.model_selection import KFold
from surprise import Reader
from sklearn.neighbors import NearestNeighbors
from scipy.sparse.linalg import svds
import numpy as np
NUMBER_OF_FACTORS_MF = 2
U, sigma, Vt = svds(users_books_pivot_matrix_df, k=NUMBER_OF_FACTORS_MF)
sigma = np.diag(sigma)

In [145]:
Vt

array([[ 0.        ,  0.        ,  0.        , ...,  0.00103197,
         0.        ,  0.00147424],
       [ 0.        ,  0.        ,  0.        , ..., -0.01100163,
         0.        , -0.01571661]])

In [146]:
sigma = np.diag(sigma)
# all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)
k = 22
top_n = 12
sliced = Vt.T[:, :k]

In [147]:
sliced

array([[ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       ...,
       [ 0.00103197, -0.01100163],
       [ 0.        ,  0.        ],
       [ 0.00147424, -0.01571661]])

In [37]:
from scipy.sparse import csr_matrix
reco_sample_u = reco_sample.drop_duplicates(['userID', 'bookTitle'])
user_rating_pivot = reco_sample_u.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
user_rating_matrix = csr_matrix(user_rating_pivot.values)

In [40]:
# user_rating_pivot

In [42]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute',leaf_size=30,metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)
model_knn.fit(user_rating_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=1)

In [45]:
import numpy as np
query_index = np.random.choice(user_rating_pivot.shape[0])

In [49]:
numpy.reshape(user_rating_pivot.iloc[query_index, :],(1, -1))
user_rating_pivot.iloc[query_index, :].reshape(1, -1)

userID
11676     0.0
13552     0.0
16795     0.0
43842     0.0
170513    0.0
185233    0.0
225087    0.0
235392    0.0
236283    0.0
236959    0.0
Name: Chocolate Chips and Trumpet Tricks (Alex Devotions), dtype: float64

In [58]:
# np.reshape(user_rating_pivot.iloc[query_index, :],(2, 5))

In [59]:
distances, indices = model_knn.kneighbors(user_rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 10)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Chocolate Chips and Trumpet Tricks (Alex Devotions):

1: Sleeping Murder, with distance of 1.0:
2: Sleepwalk, with distance of 1.0:
3: Sleeping at the Starlite Motel: And Other Adventures on the Way Back Home, with distance of 1.0:
4: Sleeping With Her Rival  (Dynasties: The Barones), with distance of 1.0:
5: Sleeping With Beauty, with distance of 1.0:
6: Sleeping Tiger, with distance of 1.0:
7: Slightly Scandalous (Get Connected Romances), with distance of 1.0:
8: Sleeping Beauty: A Novel, with distance of 1.0:
9: Sleeping Beauty and Other Fairy Tales (Dover Children's Thrift Classics), with distance of 1.0:

In [ ]:
query_index = np.random.choice(us_canada_user_rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index, :].reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, us_canada_user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

In [27]:
main_df.head(2)

   userID        ISBN  bookRating             bookTitle  bookAuthor
0  276725  034545104X           0  Flesh Tones: A Novel  M. J. Rose
1    2313  034545104X           5  Flesh Tones: A Novel  M. J. Rose

In [28]:
import pandas as pd
combined_df = pd.merge(df,main_df[['ISBN','bookTitle', 'bookRating']],on='userID')

KeyError: 'userID'

In [ ]:
combined = rating_popular_book.merge(users, left_on = 'userID', right_on = 'userID', how = 'left')

us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")]
us_canada_user_rating=us_canada_user_rating.drop('Age', axis=1)
us_canada_user_rating.head()